<!-- left sideBar  -->
    
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                

          

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-home bx-sm"></i>
                        <span key="t-layouts">الرئيسية</span>
                    </a>
                   
                    <ul class="sub-menu" aria-expanded="false">
                        
                        <!-- <li><a href="ecommerce-products.html" key="t-products"><i class='bx bx-list-ul' ></i>
                            التقارير  </a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bxs-add-to-queue'></i>
                        اضافة موديل جديد</a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bx-trash'></i>
                            سلة المهملاات</a></li>
                         -->
                    </ul>

                       
                </li>

                <!-- المكينات  -->

                

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class='bx bx-devices bx-sm' ></i>
                        <span key="t-ecommerce"> المكينات</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class='bx bxs-user-rectangle bx-sm' ></i>
                                <span key="t-ecommerce"> موردين  المكينات</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                        
                                <li><a href="ecommerce-products.html" key="t-products"><i class='bx bx-list-ul' ></i>
                                قائمة الموردين </a></li>
        
                                <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bxs-add-to-queue'></i>
                                اضافة مورد جديد</a></li>
        
                                <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bx-trash'></i>
                                    سلة المهملاات</a></li>
                                
                            </ul>
                        </li>
                        
                        <li><a href="ecommerce-products.html" key="t-products"><i class='bx bx-list-ul' ></i>
                        قائمة المكينات </a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bxs-add-to-queue'></i>
                        اضافة مكينة جديدة</a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bx-trash'></i>
                            سلة المهملاات</a></li>
                        
                    </ul>
                </li>

                <!-- قطع الغيار   -->
                
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class='bx bxs-component bx-sm' ></i>
                        <span key="t-ecommerce"> قطع الغيار</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class='bx bxs-user-rectangle bx-sm' ></i>
                                <span key="t-ecommerce"> موردين قطع الغيار</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                        
                                <li><a href="ecommerce-products.html" key="t-products"><i class='bx bx-list-ul' ></i>
                                قائمة الموردين </a></li>
        
                                <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bxs-add-to-queue'></i>
                                اضافة مورد جديد</a></li>
        
                                <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bx-trash'></i>
                                    سلة المهملاات</a></li>
                                
                            </ul>
                        </li>

                        <li><a href="ecommerce-products.html" key="t-products"><i class='bx bx-list-ul' ></i>
                            قائمة قطع الغيار </a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bxs-add-to-queue'></i>
                        اضافة قطع غيار جديدة</a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bx-trash'></i>
                            سلة المهملاات</a></li>
                        
                    </ul>
                </li>


                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class='bx bx-building-house bx-sm'></i>
                        <span key="t-ecommerce"> المخزن</span>
                    </a>

                    <ul class="sub-menu" aria-expanded="false">
                        
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class='bx bx-building-house bx-sm' ></i>
                                <span key="t-ecommerce"> مخزن قطع الغيار</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                        
                                <li><a href="ecommerce-products.html" key="t-products"><i class='bx bx-list-ul' ></i>
                                قائمة الاصناف </a></li>
        
                                <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bxs-add-to-queue'></i>
                                اضافة صنف جديد</a></li>
        
                                <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bx-trash'></i>
                                    سلة المهملاات</a></li>
                                
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class='bx bx-building-house bx-sm' ></i>
                                <span key="t-ecommerce"> مخزن المكينات </span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                        
                                <li><a href="ecommerce-products.html" key="t-products"><i class='bx bx-list-ul' ></i>
                                قائمة الاصناف </a></li>
        
                                <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bxs-add-to-queue'></i>
                                اضافة صنف جديد</a></li>
        
                                <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bx-trash'></i>
                                    سلة المهملاات</a></li>
                                
                            </ul>
                        </li>

                        
                    </ul>
                   
                </li>
            

                <!-- الصيانة     -->
                

               <li>
                <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class='bx bxs-wrench bx-sm'></i>
                    <span key="t-ecommerce"> الصيانة </span>
                </a>
                <ul class="sub-menu" aria-expanded="false">
                    
                    <li><a href="ecommerce-products.html" key="t-products"><i class='bx bx-list-ul' ></i>
                        قائمة الصيانات </a></li>

                    <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bxs-add-to-queue'></i>
                    اضافة صيانة جديدة</a></li>

                    <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bx-trash'></i>
                        سلة المهملاات</a></li>
                    
                </ul>
            </li>


             <!-- الفواتير   -->
                

             <li>
                <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class='bx bx-notepad bx-sm'></i>
                    <span key="t-ecommerce"> الفواتير</span>
                </a>
                <ul class="sub-menu" aria-expanded="false">
                    
                    <li><a href="ecommerce-products.html" key="t-products"><i class='bx bx-list-ul' ></i>
                        قائمة الفواتير </a></li>

                    <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bxs-add-to-queue'></i>
                    اضافة فاتورة جديدة</a></li>

                    <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bx-trash'></i>
                        سلة المهملاات</a></li>
                    
                </ul>
            </li>



                 <!-- الخزائن والحسابات البنكية   -->
                

                 <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class='bx bx-dollar-circle bx-sm' ></i>
                        <span key="t-ecommerce"> الخزائن والحسابات البنكية</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        
                        <li><a href="ecommerce-products.html" key="t-products"><i class='bx bx-list-ul' ></i>
                            قائمة الفواتير </a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bxs-add-to-queue'></i>
                        اضافة فاتورة جديدة</a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bx-trash'></i>
                            سلة المهملاات</a></li>
                        
                    </ul>
                </li>


                <!-- الاعددات   -->

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                       <i class="bx bx-cog bx-sm" ></i>
                        <span key="t-ecommerce"> الاعددات  </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        
                        <li><a href="ecommerce-products.html" key="t-products"><i class='bx bx-list-ul' ></i>
                            قائمة المستخدمين </a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bxs-add-to-queue'></i>
                        اضافة مستخدم جديد</a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bx-trash'></i>
                            سلة المهملاات</a></li>
                        
                    </ul>
                </li>


              

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>

