<!-- left sideBar  -->
    
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                

          

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-home"></i>
                        <span key="t-layouts">الرئيسية</span>
                    </a>
                   
                    <ul class="sub-menu" aria-expanded="false">
                        
                        <li><a href="ecommerce-products.html" key="t-products"><i class='bx bx-list-ul' ></i>
                            التقارير  </a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bxs-add-to-queue'></i>
                        اضافة موديل جديد</a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bx-trash'></i>
                            سلة المهملاات</a></li>
                        
                    </ul>

                       
                </li>

                <!-- الموديلات -->

                

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class='bx bxs-t-shirt' ></i>
                        <span key="t-ecommerce"> الموديلات</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        
                        <li><a href="ecommerce-products.html" key="t-products"><i class='bx bx-list-ul' ></i>
                            قائمة الموديلات </a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bxs-add-to-queue'></i>
                        اضافة موديل جديد</a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bx-trash'></i>
                            سلة المهملاات</a></li>
                        
                    </ul>
                </li>

                <!-- مخزن الصوف -->
                
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class='bx bx-basket'></i>
                        <span key="t-ecommerce"> مخزن الصوف</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        
                        <li><a href="ecommerce-products.html" key="t-products"><i class='bx bx-list-ul' ></i>
                            قائمة المخازن </a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bxs-add-to-queue'></i>
                        اضافة مخزن جديد</a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bx-trash'></i>
                            سلة المهملاات</a></li>
                        
                    </ul>
                </li>


                <!-- المصانع الخارجية  -->
                

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class='bx bxs-factory'></i>
                        <span key="t-ecommerce"> المصانع الخارجية</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        
                        <li><a href="{% url 'Factories:factory_list' %}" key="t-products"><i class='bx bx-list-ul' ></i>
                            قائمة المصانع </a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bxs-add-to-queue'></i>
                        اضافة مصنع جديد</a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bx-trash'></i>
                            سلة المهملاات</a></li>
                        
                    </ul>
                </li>

                <!-- الفواتير   -->
                

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class='bx bx-notepad'></i>
                        <span key="t-ecommerce"> الفواتير</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        
                        <li><a href="ecommerce-products.html" key="t-products"><i class='bx bx-list-ul' ></i>
                            قائمة الفواتير </a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bxs-add-to-queue'></i>
                        اضافة فاتورة جديدة</a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bx-trash'></i>
                            سلة المهملاات</a></li>
                        
                    </ul>
                </li>


                 <!-- الخزائن والحسابات البنكية   -->
                

                 <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class='bx bx-dollar-circle' ></i>
                        <span key="t-ecommerce"> الخزائن والحسابات البنكية</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        
                        <li><a href="ecommerce-products.html" key="t-products"><i class='bx bx-list-ul' ></i>
                            قائمة الفواتير </a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bxs-add-to-queue'></i>
                        اضافة فاتورة جديدة</a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bx-trash'></i>
                            سلة المهملاات</a></li>
                        
                    </ul>
                </li>


                <!-- المستخدمين   -->

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                       <i class='bx bx-user-circle' ></i>
                        <span key="t-ecommerce"> المستخدمين  </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        
                        <li><a href="ecommerce-products.html" key="t-products"><i class='bx bx-list-ul' ></i>
                            قائمة المستخدمين </a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bxs-add-to-queue'></i>
                        اضافة مستخدم جديد</a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bx-trash'></i>
                            سلة المهملاات</a></li>
                        
                    </ul>
                </li>


                <!-- الاعددات   -->

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                       <i class="bx bx-cog " ></i>
                        <span key="t-ecommerce"> الاعددات  </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        
                        <li><a href="ecommerce-products.html" key="t-products"><i class='bx bx-list-ul' ></i>
                            قائمة المستخدمين </a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bxs-add-to-queue'></i>
                        اضافة مستخدم جديد</a></li>

                        <li><a href="ecommerce-product-detail.html" key="t-product-detail"> <i class='bx bx-trash'></i>
                            سلة المهملاات</a></li>
                        
                    </ul>
                </li>


              

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>

