{% extends "base.html" %}


{% block css %}

<style>
    .select2-selection__rendered {
        line-height: 31px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 34px !important;
    }
</style>
{% endblock css %}
    

{% block main %}
{% load  crispy_forms_tags %}
    <div class="main-content">

      <div class="page-content">
          <div class="container-fluid">
           
                <div class="row">
                    <div class="col-12"> {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                            <i class="mdi mdi-check-all mr-2"></i>
                            {{ message|safe }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        {% endfor %}

            
                      {% endif %}
                    </div>
                   
                </div>
              
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            
                            {% if type == "list" %}
                                <h3 class="mb-0 "> فاتورة طلب {{order.order_number}}</h3>
                                
                                {% else %}
                                <h3 class="mb-0 ">سلة مهملات طلبات قطع الغيار</h3>
                            
                            {% endif %}
                             
                            
                                <!-- <span class="badge badge-dark font-size-15"> الاجمالي : {{count}} قطع </span> -->
                               

                           
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="/">الرئيسية</a></li>

                                    {% if type == "list" %}
                                    <li class="breadcrumb-item active">فاتورة طلب {{order.order_number}}</li>
                                    {% else %}
                                    <li class="breadcrumb-item active">سلة مهملات طلبات قطع الغيار</li>

                                    {% endif %}
                                </ol>
                            </div>

                            

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">

                           
                                    <div class="card-body ">
                                        <div class="bg-soft-primary">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="text-primary p-3">
                                                        
                                                            <h3 class="text-center font-weight-bold" >معلومات الطلب</h3>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-nowrap mb-0">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row"> رقم الطلب :</th>
                                                        <td>{{ order.order_number }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">تاريخ الطلب :</th>
                                                        <td>{{ order.order_date|date:'Y-m-d' }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">المورد :</th>
                                                        <td>{{ order.order_supplier }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">قمية العربون :</th>
                                                        <td>{{ order.order_deposit_value }}</td>
                                                    </tr>
                                                     <tr>
                                                        <th scope="row">تاريخ دفع العربون :</th>
                                                        <td>{{ order.order_deposit_date|date:'Y-m-d' }}</td>
                                                    </tr>
                                                     <tr>
                                                        <th scope="row"> تاريخ دفع باقي المبلغ :</th>
                                                        <td>{{ order.order_rest_date|date:'Y-m-d' }}</td>
                                                    </tr>
                                                     <tr>
                                                        <th scope="row">تاريخ استلام البضاعة  :</th>
                                                        <td>{{ order.order_receipt_date|date:'Y-m-d' }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                    </div>

                    <div class="col-lg-8">

                         <div class="card">
                            <div class="card-body">

                                <div class="tab-pane" id="processing" role="tabpanel">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="bg-soft-primary">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="text-primary p-3">
                                                                
                                                                    <h3 class="text-center font-weight-bold" >أصناف الطلب</h3>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                </div>

                                                    <div class="table-responsive">
                                                        <table class="table table-nowrap mb-0">
                                                            <thead>
                                                                <form method="post" action="{{action_url}}">
                                                                {% csrf_token %}
                                                                <tr>
                                                                    <th class="col-lg-1">
                                                                    <span style="width: 100%" role="button" class="btn btn-light">م</span>

                                                                    </th>
                                                                    <th class="col-lg-5 col-xl-5 col-md-5" style="width: 100%;">
                                                                      
                                                                            
                                                                            <div class=" d-inline-block" style="width: 75%;">
                                                                                {{form.product_name|as_crispy_field}}                                                                           
                                                                            </div> 
                                                                            
                                                                            <a href="{% url 'SpareParts:SparePartsNameCreate' %}" style="width: 25%; " data-target="#action_modal" data-toggle="modal" class=" btn btn-success  d-inline-block">
                                                                                   منتج جديد                                                                        
                                                                            </a> 
                                             
                                        
                                                                    </th>
                                                                    <th class="col-lg-2 col-xl-2 col-md-2">{{form.product_quantity|as_crispy_field}} </th>
                                                                    <th class="col-lg-2 col-xl-2 col-md-2">{{form.product_price|as_crispy_field}}</th>
                                                                    <th class="col-lg-2 col-xl-2 col-md-2">

                                                                        <button style="width: 100%" type="submit" class="btn btn-success">اضافة</button>
                                                                    </th>
                                                                </tr>
                                                                </form>
                                                            </thead>
                                                            <tbody class=" text-center">

                                                                {% if product %}
                                                                {% for x in product  %}
                                                                <tr class="shadow  bg-white ">
                                                                    <td>{{x.id}}</td>
                                                                    <td>
                                                                        <h4 class="text-truncate font-size-14"><a href="#" class="text-dark">{{x.product_name}}</a></h4>

                                                                    </td>
                                                                    <td ><h4><i class="fas fa-copy fx-7"></i> {{x.product_quantity}}</h4></td>
                                                                    <td><h4><span class="badge badge-primary"> <i class='bx bx-dollar'></i>{{ x.product_price }}</span></h4></td>
                                                                    <td>
                                                                        <div class="team">
                                                                            <a href="javascript: void(0);" class="team-member d-inline-block btn btn-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Daniel Canales">
                                                                                <i class='bx bx-edit' ></i>
                                                                            </a>

                                                                            <a href="javascript: void(0);" class="team-member d-inline-block btn btn-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Daniel Canales">
                                                                                <i class='bx bxs-trash' ></i>
                                                                            </a>

                                                                        </div>
                                                                    </td>

                                                                </tr>
                                                                {% endfor %}

                                                                {% endif %}



                                                            </tbody>
                                                        </table>
                                                    </div>

                                            </div>
                                        </div>

                                    </div>
                            </div>
                        </div>


                    </div>
                </div>



                {% if is_paginated %}
                {% include "components/paginator.html" %}
                {% endif %}

              

          </div>
      </div>
  </div>
{% endblock main %}


{% block js %}
<script>
    $(document).ready(function() {
        $('#product').select2();
    });
    </script>
{% endblock js %}