{% extends "base.html" %}
{% load custom_machine_tags %}

{% block main %}

    <div class="main-content">

      <div class="page-content">
          <div class="container-fluid">
           
                <div class="row">
                    <div class="col-12"> {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                            <i class="mdi mdi-check-all mr-2"></i>
                            {{ message|safe }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        {% endfor %}

            
                      {% endif %}
                    </div>
                   
                </div>
              
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            
                                <h3 class="mb-0 font-weight-bold"> {{icons|safe}} {{title}}
                  
                                </h3>
                            
                                <span class="badge badge-dark font-size-15"> الاجمالي : {{count}} كمية </span>

                           
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="/">الرئيسية</a></li>

                                    <li class="breadcrumb-item active"><a href="{% url 'Machines:warehouses_active_list' %}">قائمة المخازن</a></li>
                                    <li class="breadcrumb-item active"> {{title}} </li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>

              
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card" style="margin-left: 10%; margin-right:10%">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-centered   ">
                                        <thead class="thead-light text-center">
                                            <tr>
                                                <th scope="col" >#</th>
                                                <th scope="col">
                                                    <i class="far fa-file-alt"></i>
                                                    المنتج
                                                </th>
                                                <th scope="col">
                                                    <i class="fas fa-calculator"></i>
                                                    الكمية
                                                </th>
                                                <th scope="col">
                                                    <i class="fas fa-dollar-sign"></i>
                                                    سعر الشراء
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center ">
                                          {% for x in object_list  %}
                                          <tr>
                                            <td>
                                                
                                                    <span class="avatar-title rounded">
                                                        {{forloop.counter}}
                                                    </span>
                                                
                                            </td>
                                            <td>
                                                <h5 class="font-size-16 badge badge-warning">
                                                        <i class="far fa-file-alt"></i>
                                                    {{x.item}}
                                                </h5>
                                                <p class="text-muted mb-0"></p>
                                            </td>
                                            <td>
                                                <h5 class="badge  badge-info font-size-16">
                                                    <i class="fas fa-calculator"></i>
                                                    {{x.quantity}}
                                                </h5>
                                                
                                            </td>
                                            <td>
                                                <h4 class="badge badge-danger">
                                                    <i class="fas fa-dollar-sign"></i>
                                                    {{x.purchase_cost}}
                                                </h4>
                                                
                                            </td>
                                           
                                           
                                        </tr>
                                      
                                          {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {% if is_paginated %}
                                {% include "components/paginator.html" %}
                                {% endif %}
                
                            </div>
                        </div>
                    </div>
                </div> 
               
                

          </div>
      </div>
  </div>
{% endblock main %}

